header,
.footer-container.footer-one.pt-100.pb-50 {
    display: none;
}

td {
    padding: 0px;
}


/* .container {
width: var(--containerWidth);
background: #fff;
text-align: center;
border-radius: 5px;
padding: 50px 35px 10px 35px;
} */


/* header {
font-size: 35px;
font-weight: 600;
margin: 0 0 30px 0;
} */

:root {
    --primary: #333;
    --secondary: #333;
    --errorColor: red;
    --stepNumber: 6;
    --containerWidth: 600px;
    --bgColor: #333;
    --inputBorderColor: lightgray;
}

.form-outer {
    width: 100%;
    overflow: hidden;
}

.form-outer form {
    display: flex;
    width: calc(100% * var(--stepNumber));
}

.form-outer form .page {
    width: calc(100% / var(--stepNumber));
    transition: margin-left 0.3s ease-in-out;
    /* max-height: 525px;
    overflow-y: auto; */
    padding: 0 15px;
}

.form-outer form .page .title {
    text-align: left;
    font-size: 25px;
    font-weight: 500;
}

.form-outer form .page .field {
    width: 18%;
    height: 45px;
    margin: 10px auto 45px 0px;
    display: flex;
    position: relative;
}

form .page .field .label {
    position: absolute;
    top: -30px;
    font-weight: 500;
}

form .page .field input {
    box-sizing: border-box;
    height: 100%;
    width: 100%;
    border: 1px solid var(--inputBorderColor);
    border-radius: 5px;
    padding-left: 15px;
    margin: 0 1px;
    font-size: 18px;
    transition: border-color 150ms ease;
}

form .page .field input.invalid-input {
    border-color: var(--errorColor);
}

form .page .field select {
    width: 100%;
    padding-left: 10px;
    font-size: 17px;
    font-weight: 500;
}

form .page .field button {
    width: 100%;
    height: calc(100% + 5px);
    border: none;
    background: var(--secondary);
    margin-top: -20px;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 1px;
    text-transform: uppercase;
    transition: 0.5s ease;
}

form .page .field button:hover {
    background: #000;
}

form .page .btns button {
    margin-top: -20px !important;
}

form .page .btns button.prev {
    margin-right: 3px;
    font-size: 14px;
}

form .page .btns button.next {
    margin-left: 3px;
}

.progress-bar {
    display: flex;
    /* margin: 40px 0; */
    user-select: none;
    flex-direction: row;
    background: #d9d9d9;
    color: #000;
    border-radius: 15px;
}

.progress-bar .step {
    text-align: center;
    width: 100%;
    position: relative;
}

.progress-bar .step p {
    font-weight: 500;
    font-size: 18px;
    color: #000;
    margin-bottom: 8px;
}


/* .progress-bar .step .bullet:first-child {
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
}

.progress-bar .step .bullet:last-child {
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
} */

.bullet_first {
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
}

.bullet_six {
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
}

.progress-bar .step .bullet {
    height: 35px;
    width: 100%;
    border: 2px solid #d9d9d9;
    /* display: inline-block; */
    /* border-radius: 50%; */
    position: relative;
    transition: 0.2s;
    font-weight: 500;
    font-size: 14px;
    line-height: 11px;
    /* border-radius: 15px; */
}

.progress-bar .step .bullet.active {
    border-color: #ff0000;
    background: #ff0000;
}

.progress-bar .step .bullet.active:focus {
    border-color: #ff0000;
    background: #ff0000;
    border-top-right-radius: 15px !important;
    border-bottom-right-radius: 15px !important;
}

.progress-bar .step .bullet span {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translateX(-50%);
}

.progress-bar .step .bullet.active span {
    /* display: none; */
    color: #fff;
    font-weight: 600;
}


/* .progress-bar .step .bullet:before,
.progress-bar .step .bullet:after {
    position: absolute;
    content: "";
    bottom: 11px;
    right: -51px;
    height: 3px;
    width: 44px;
    background: #262626;
} */

.progress-bar .step .bullet.active:after {
    background: var(--primary);
    transform: scaleX(0);
    transform-origin: left;
    animation: animate 0.3s linear forwards;
}

@keyframes animate {
    100% {
        transform: scaleX(1);
    }
}

.progress-bar .step:last-child .bullet:before,
.progress-bar .step:last-child .bullet:after {
    display: none;
}

.progress-bar .step p.active {
    color: var(--primary);
    transition: 0.2s linear;
}

.progress-bar .step .check {
    position: absolute;
    left: 50%;
    top: 45%;
    font-size: 15px;
    transform: translate(-50%, -50%);
    display: none;
}

.progress-bar .step .check.active {
    display: block;
    color: #fff;
}

@media screen and (max-width: 660px) {
    .progress-bar .step p {
        display: none;
    }
    .progress-bar .step .bullet::after,
    .progress-bar .step .bullet::before {
        display: none;
    }
    .progress-bar .step .bullet {
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .progress-bar .step .check {
        position: absolute;
        left: 50%;
        top: 50%;
        font-size: 15px;
        transform: translate(-50%, -50%);
        display: none;
    }
    .step {
        display: flex;
        align-items: center;
        justify-content: center;
    }
}


/* @media screen and (max-width: 490px) {
:root {
    --containerWidth: 100%;
}
.container {
    box-sizing: border-box;
    border-radius: 0;
}
} */


/* radio btn with image */

div.radio-with-Icon {
    display: block;
}

div.radio-with-Icon p.radioOption-Item {
    display: inline-block;
    width: 100px;
    /* height: 100px; */
    box-sizing: border-box;
    /* margin: auto 15px; */
    border: none;
}

div.radio-with-Icon p.radioOption-Item label {
    display: block;
    height: auto;
    width: auto;
    /* padding: 10px; */
    /* border-radius: 10px; */
    /* border: 2px solid #9e9e9e; */
    color: #000;
    cursor: pointer;
    opacity: 0.8;
    transition: none;
    font-size: 13px;
    /* padding-top: 25px; */
    text-align: center;
    margin: 0 !important;
}

div.radio-with-Icon p.radioOption-Item label:hover,
div.radio-with-Icon p.radioOption-Item label:focus,
div.radio-with-Icon p.radioOption-Item label:active {
    opacity: 0.5;
    /* background-color: #de1831; */
    color: #de1831;
    margin: 0 !important;
}

div.radio-with-Icon p.radioOption-Item label::after,
div.radio-with-Icon p.radioOption-Item label:after,
div.radio-with-Icon p.radioOption-Item label::before,
div.radio-with-Icon p.radioOption-Item label:before {
    opacity: 0 !important;
    width: 0 !important;
    height: 0 !important;
    margin: 0 !important;
}

div.radio-with-Icon p.radioOption-Item label i.fa {
    display: block;
    font-size: 50px;
}

div.radio-with-Icon p.radioOption-Item input[type="radio"] {
    opacity: 0 !important;
    width: 0 !important;
    height: 0 !important;
}

div.radio-with-Icon p.radioOption-Item input[type="radio"]:active~label {
    opacity: 1;
}

div.radio-with-Icon p.radioOption-Item input[type="radio"]:checked~label {
    opacity: 1;
    border: none;
    /* background-color: #de1831; */
    color: #000;
    font-weight: 600;
    border: 3px solid #ff0000;
}

div.radio-with-Icon p.radioOption-Item input[type="radio"]:hover,
div.radio-with-Icon p.radioOption-Item input[type="radio"]:focus,
div.radio-with-Icon p.radioOption-Item input[type="radio"]:active {
    margin: 0 !important;
}

div.radio-with-Icon p.radioOption-Item input[type="radio"]+label:before,
div.radio-with-Icon p.radioOption-Item input[type="radio"]+label:after {
    margin: 0 !important;
}

.radio-with-Icon img {
    width: auto;
    height: 100px;
}


/* collapse icon */

[data-toggle="collapse"] .fa:before {
    content: "\f139";
}

[data-toggle="collapse"].collapsed .fa:before {
    content: "\f13a";
}

.fr_col {
    display: flex !important;
    gap: 1%;
    flex: 1 1 auto;
    flex-direction: row;
    flex-wrap: wrap;
}

.fr_col img {
    width: 94px;
}

.img_interior {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.img_interior p.radioOption-Item {
    width: min-content !important;
}

.builder_img {
    background: #e3e3e3;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 500px;
}

.btn-green {
    background-color: #ff0000 !important;
    border: 1px solid #ff0000 !important;
}

.para_depth2 {
    border-radius: 5px;
}

.depth1.form-inline input {
    width: 16%;
    height: 29px;
}

div.built_in_cabinets p.radioOption-Item {
    display: inline-block;
    width: 30%;
    height: auto;
}

div.built_in_cabinets p.radioOption-Item.thee_cabinets {
    width: 354px;
    margin: 0 20px;
}

.built_in_cabinets img {
    width: 100% !important;
    height: auto !important;
}

.built_in_cabinets img.thee_cabinets_img {
    width: 350px !important;
    height: 350px !important;
}

div.floorPlan1 p.radioOption-Item {
    display: inline-block;
    width: 30%;
    height: auto;
    margin: auto 10px;
}

.floorPlan1 img {
    width: 100% !important;
    height: auto !important;
    box-shadow: 0 0 5px 0 #ccc;
}

.cust_width {
    width: 65px;
    height: 178px;
    border: 1px solid #ccc;
}

.cust_border_0 {
    border: none !important;
}

.grid_center {
    display: grid;
    place-items: center;
}

div.box_select {
    outline: 1px solid red !important;
}

.cust_width img {
    width: 100%;
    height: 100%;
}

.w-h-252 {
    width: 100%;
    height: 252px;
}

.w345 {
    width: 345px;
    height: 160px;
}


/* new css */

.config_head {
    font-family: "Muli";
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 58px;
    text-align: center;
    color: #000000;
}

.config_subHead {
    font-family: "Muli";
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
    text-align: center;
    color: #000000;
}

.built_in_cabinets img.cabin_b_img {
    height: 240px !important;
    width: 738px !important;
    margin: 30px auto !important;
    display: block;
}

.tab1_head {
    font-family: "Muli";
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 39px;
    text-align: center;
    color: #ffffff;
    position: absolute;
    bottom: 15px;
    left: 10px;
    right: 10px;
}

.built_in_cabinets label {
    position: relative;
}

.grid_center {
    display: grid;
    place-items: center;
}

.tip1 {
    /* font-weight: 700; */
    font-size: 14px;
    line-height: 17px;
}

.Späť_btn {
    padding: 11px;
    width: 124px;
    height: 47px;
    left: 67px;
    /* margin-top: 20px; */
    background: #ffffff;
    border: 1px solid #ff0000;
    box-shadow: 0px 2px 2px rgb(255 0 0 / 20%);
    border-radius: 5px;
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    color: #ff0000;
}

.lbl_sides {
    line-height: 1;
    text-align: right;
}

.lbl_sides small {
    font-size: 7px;
}

.tabDiv2 {
    border: 2px solid #000;
    border-radius: 5px;
    align-items: center;
}

.bd_left_right {
    border-left: 2px solid;
    border-right: 2px solid;
}

.tabDiv_right {
    background: #ffffff;
    box-shadow: 0px 0px 4px 5px rgb(0 0 0 / 6%);
    border-radius: 20px;
    padding: 12px;
    margin-top: 18px;
}

.h30 {
    height: 30px;
}


/* radio btn tab 3 */

.radio_container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    /* background-color: #cecece; */
    /* width: 280px; */
    height: 50px;
    border-radius: 0px;
    box-shadow: inset 0.5px 0.5px 2px 0 rgba(0, 0, 0, 0.15);
}

.radio_container input[type="radio"] {
    appearance: none;
    display: none;
}

.radio_container label {
    font-family: "Open Sans", sans-serif;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: inherit;
    /* width: 95px; */
    height: 50px;
    text-align: center;
    border-radius: 0px;
    overflow: hidden;
    transition: linear 0.3s;
    color: #6e6e6edd;
    margin-bottom: 0px;
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
}

.radio_container input[type="radio"]:checked+label,
.radio_container input[type="radio"]:checked+small {
    background-color: #ff0000;
    color: #f1f3f5;
    /* font-weight: 900; */
    transition: 0.3s;
    border-right: 2px solid #000;
    border-left: 2px solid #000;
}


/* radio btn tab 3 */

.font14 {
    font-size: 14px !important;
}

.font16 {
    font-size: 16px !important;
}

.Dalej_btn {
    width: 244px;
    background: #ff0000;
    display: flex;
    justify-content: center;
    margin-top: 18px;
    height: 48px;
    font-size: 18px;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
}

.w49 {
    width: 49px;
}

.Dub_img {
    width: 48px;
    padding-bottom: 7px;
}

.f10 {
    font-size: 10px;
}


/* slider css */

.swiper-button-prev {
    background-image: url(../img_web/prev_img.png) !important;
}

.swiper-button-next {
    background-image: url(../img_web/next_img.png) !important;
}

.swiper-container {
    width: 100%;
    height: 100%;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}

.swiper-button-next,
.swiper-button-prev {
    background-size: 27px 27px !important;
}


/* slider css end */

.folding_inside_img {
    width: auto;
    height: 200px;
}

.tab7_box {
    border: 0.5px solid rgba(0, 0, 0, 0.45);
    box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.15);
    border-radius: 5px;
}

.tab9_btn {
    background: #ff0000;
    box-shadow: 0px 2px 2px rgb(255 0 0 / 20%);
    border-radius: 5px;
    width: 183px;
    height: 40px;
}

.zoom:hover {
    z-index: 999;
    -ms-transform: scale(1.2);
    /* IE 9 */
    -webkit-transform: scale(1.2);
    /* Safari 3-8 */
    transform: scale(1.2);
}

.tab7zoom:hover {
    z-index: 999;
    -ms-transform: scale(1.2);
    /* IE 9 */
    -webkit-transform: scale(1.2);
    /* Safari 3-8 */
    transform: scale(1.2);
    box-shadow: 0 0 10px 0 #ccc;
}

.tab10_font {
    font-size: 10px;
    line-height: 12px;
    text-align: center;
    color: #000000;
}

.tab10_btn {
    background: #ff0000;
    box-shadow: 0px 2px 2px rgba(255, 0, 0, 0.2);
    border-radius: 5px;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    color: #ffffff;
    width: 256px;
    height: 52px;
}

.grid_end {
    display: grid;
    place-items: end;
}

.flex_center {
    display: flex;
    align-items: center;
    justify-content: center;
}

.tab11_btn {
    background: #ff0000;
    box-shadow: 0px 2px 2px rgb(255 0 0 / 20%);
    border-radius: 5px;
    width: 244px;
    height: 52px;
}


/* modal css start */

.modal_paragraph_1 {
    font-weight: 600;
    color: #000;
}

.modal-header {
    border-bottom: none;
}

.model_num1 .modal-title {
    font-weight: 600;
    color: #000;
    font-size: 1rem;
}

.checkLabel,
.or_section p {
    font-weight: 500;
    color: #000;
}

.modal-content {
    border-radius: 12px;
    padding: 1rem;
}

.font-weight-bolder {
    font-weight: 600;
    color: #000;
}

@media only screen and (max-width: 768px) {
    .subscribe_section {
        flex-direction: column;
    }
    .or_section {
        margin-top: 1rem !important;
    }
    .koi_acc {
        border-right: none !important;
    }
}

p.custom_email_text {
    font-size: 0.9em;
    line-height: 1.2;
    color: #000;
}

.koi_acc {
    border-right: 1px dashed #ccc;
}


/* modal css end */