.depth1.form-inline {
    position: absolute;
    margin-top: -9.5rem;
    left: 10rem;
}

.cstm_header1 {
    padding: 0 10px;
    background-image: url("../../assets/img_web/header-shape.png");
    background-repeat: no-repeat;
    background-position: center top;
    background-color: #1c1d21;
}

a.image-wrap img {
    width: 270px;
    height: 360px;
}